STORAGE_FILESYSTEM_DIRECTORY = '/data'
SITENAME = 'your-domain.example.com'   # i.e. your fly.dev domain
SECRET_KEY = 'somelongrandomstringforthecookies'
SESSION_COOKIE_SECURE = True
DEFAULT_PERMISSIONS = 'read'
PERMISSIONS = {
    'passwordforupload': 'create,read,delete',
    'passwordforadmin': 'admin,list,create,read,delete',
}
